<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Book Bus</title>
</head>
<body>
    <h1><mark>Karnataka State Road Transport Corporation</mark></h1><br><br>
    <h2><mark>Booking Under Process [{{ bus.name }}]</mark></h2>
    <form method="post">
        <b>Name :</b> <br><input type="text" name="name" style="background-color: bisque;"><br>
        <b>Number of Seats: </b><br><input type="number" name="seats" style="background-color: bisque;"><br>
        <input type="submit" value="Confirm" style="color: blueviolet;">
    </form>
</body>
</html>
